<div class="header">
<div class="apptitle">
<%= link_to 'CyApp', root_path %>
</div>
<div class="header-menu">
<%= link_to 'ログアウト',  destroy_user_session_path, method: :delete%>
<%= link_to '商品登録', new_product_path%>
</div>
</div>